@model SimpleBlog.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(modelItem => Model.UserName,new { @class = "label-control" })
        @Html.TextBoxFor(modelItem => Model.UserName, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(modelItem => Model.Password, new { @class = "label-control" })
        @Html.PasswordFor(modelItem => Model.Password, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-default btn-primary" />
    </div>
}